@import "reset";
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@layer base {
  body {
    line-height: 1.5;
    // -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-family: "Quicksand", sans-serif;
    font-size: 16px;
    color: #232323;
  }
}
.container {
  width: 100%;
  max-width: 1260px;
  margin: 0 auto;
}

.container-md {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

.container-sm {
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
}




a {
  text-decoration: none;
  color: inherit;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sp-line {
  overflow: hidden;
  -webkit-line-clamp: 1 !important;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.image-full {
  width: 100%;
}
.image-half {
  width: calc(50% - 0.7rem);
  height: auto;
}

.image-third {
  width: 100%;
  height: calc(100% / 3 - 1rem);
}

.pills-home {
  height: 5rem;
}

.pills-home-flex-1 {
  width: 30%;
}

.pills-home-flex-2 {
  width: 68%;
}

.pills-home-flex-2-1 {
  width: 60%;
}

.pills-home-flex-2-2 {
  width: 40%;
}

.text-primary {
  color: #a4d96c;
}

.form {
  &-group {
    margin-bottom: 2rem;
    display: block;
  }
  &-control {
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    border-radius: 0.5rem;
    overflow: hidden;
    &:focus {
      background-color: #fff;
      border-color: #80bdff !important;
      outline: 0;
      box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
    }
  }
}

.overlay {
  inset: 0;
  background-color: black;
  opacity: 0.25;
  position: fixed;
  z-index: 150;
}

.hidden-input {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.scrollbar-custom-style-1 {
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #f5f5f5;
  }
  &::-webkit-scrollbar {
    width: 0.4rem;
    background-color: #f5f5f5;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #3b72fe;
  }
}

.room_content__rate-star {
  padding: 2rem 0;
  font-size: 1.5rem;
  font-weight: 600;
  color: gray;
  & span {
    color: black;
  }
}

.room-location {
  display: flex;
  align-items: center;
  &-title {
    margin-left: 0.5rem;
    font-weight: 600;
  }
}

.grid-layout {
  display: grid;
  grid-auto-columns: 235px;
  gap: 20px;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
  @media screen and (min-width: 1024px) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 40px;
  }
  @media screen and (max-width: 1023.98px) {
    grid-auto-flow: column;
    scroll-snap-type: x mandatory;
    overflow-x: auto;
  }

  & > * {
    scroll-snap-align: start;
  }
  &--primary {
    grid-auto-columns: 220px;
    @media screen and (min-width: 1024px) {
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }
  }
}
.ql-picker-label svg {
  right: -1.5rem !important;
}
